/* Root */

:root,
[data-theme] {
  background-color: hsla(var(--b1));
  color: hsla(var(--bc));
}

:root {
  --p: 216.76 77.622% 28.039%;
  --pf: 216.76 77.622% 22.431%;
  --sf: 214 100% 76%;
  --af: 194.12 52.041% 30.745%;
  --nf: 216.92 19.118% 21.333%;
  --b2: 0 0% 90%;
  --b3: 0 0% 81%;
  --bc: 0 0% 20%;
  --pc: 216.76 100% 85.608%;
  --sc: 214 100% 10.7%;
  --ac: 194.12 100% 87.686%;
  --nc: 216.92 76.471% 85.333%;
  --inc: 213.33 100% 17.451%;
  --suc: 80.87 100% 15.922%;
  --wac: 48 100% 15.333%;
  --erc: 0 100% 17.882%;
  --rounded-badge: 1.9rem;
  --animation-btn: 0.25s;
  --animation-input: .2s;
  --btn-text-case: uppercase;
  --btn-focus-scale: 0.95;
  --border-btn: 1px;
  --tab-border: 1px;
  --tab-radius: 0.5rem;
  --s: 214 100% 88%;
  --a: 194.12 52.041% 38.431%;
  --n: 216.92 19.118% 26.667%;
  --b1: 0 0% 100%;
  --in: 213.33 96.923% 87.255%;
  --su: 80.87 88.462% 79.608%;
  --wa: 48 96.639% 76.667%;
  --er: 0 96.296% 89.412%;
  --rounded-box: 5px;
  --rounded-btn: 5px;
}

/* Animations */

@keyframes button-pop {

  0% {
    transform: scale(var(--btn-focus-scale, 0.95));
  }

  40% {
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}

/* Layout */

html {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
}

body {
  margin: 0;
  line-height: inherit;
  position: relative;
  min-height: 100vh;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
}

#content-container {
  margin-left: 325px;
  max-width: calc(100% - 350px);
  position: relative;
  min-height: 100vh;
}

.alert {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: hsl(var(--p));
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-box, 1rem);
}

.footer {
  position: absolute;
  bottom: 0px;
  display: grid;
  width: 100%;
  grid-auto-flow: row;
  place-items: start;
  row-gap: 2.5rem;
  -moz-column-gap: 1rem;
  column-gap: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.footer>* {
  display: grid;
  place-items: start;
  gap: 0.5rem;
}

.footer-center {
  place-items: center;
  text-align: center;
}

.footer-center>* {
  place-items: center;
}

.gap-2 {
  gap: 0.5rem;
}

.max-h-full {
  max-height: 100%;
}

.w-full {
  width: 100%;
}

.w-auto {
  width: auto;
}

.button-set {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none !important;
}

/* Borders and Backgrounds */

.rounded {
  border-radius: 0.25rem;
}

.border-l-4 {
  border-left-width: 4px;
}

.border-t {
  border-top-width: 1px;
}

.border-base-300 {
  border-color: hsl(var(--b3, var(--b2)));
}

.border-secondary {
  border-color: hsl(var(--s));
}

.bg-gray-100 {
  background-color: rgb(243 244 246);
}

.bg-primary {
  background-color: hsl(var(--p));
}

/* Margins */

.mt-2 {
  margin-top: 0.5rem;
}

/* Padding */

.p-4 {
  padding: 1rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pb-24 {
  padding-bottom: 6rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

/* Text */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

code,
kbd,
samp,
pre {
  font-family: Source Code Pro, mono;
  font-size: 1em;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 300;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

h3 {
  margin-bottom: 0.5rem;
}

.text-center {
  text-align: center;
}

.font-mono {
  font-family: Source Code Pro, mono;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[10px\] {
  font-size: 10px;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.normal-case {
  text-transform: none !important;
}

.text-base-content {
  color: hsl(var(--bc));
}

.text-gray-400 {
  color: rgb(156 163 175);
}

.text-primary-content {
  color: hsl(var(--pc));
}

.text-white {
  color: rgb(255 255 255);
}

.opacity-75 {
  opacity: 0.75;
}

.nowrap {
  white-space: nowrap !important;
}

/* Controls */

.form-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-control label.floating {
  pointer-events: none;
  position: absolute;
  left: 5px;
  top: 0px;
  --tw-bg-opacity: 1;
  height: 5px;
  background-color: white;
  padding: 0px;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  z-index: 3;
}

.tab-control {
  display: flex;
  width: 100%;
}

.tab {
  flex-grow: 1;
  text-align: center;
  background-color: hsl(var(--b2));
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 5px 0px;
  border: 1px solid hsl(var(--b3));
}

.tab.active {
  background-color: hsl(var(--b1));
  border-bottom: none;
}

.tab-content {
  border: 1px solid hsl(var(--b3));
  border-top: none;
  padding: 5px;
  min-height: 0;
}

.tab-content > div {
  display: none;
  height: 100%;
}

.tab-content > div.active {
  display: flex;
  flex-direction: column;
}

.tab-content .status {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  background-color: hsl(var(--n));
  color: hsl(var(--nc));
  border-color: transparent;
  border-radius: var(--rounded-btn, 0.5rem);
  text-align: center;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration-line: none;
  border-width: var(--border-btn, 1px);
}

.btn:active {
  animation: button-pop 0.25s ease-out;
}

.btn-sm {
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  min-height: 2rem;
  font-size: 0.875rem;
}

.btn-ghost {
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  color: currentColor;
}

.btn-ghost:hover,
.btn-ghost.btn-active {
  background-color: transparent;
}

.btn-ghost:focus-visible {
  outline: 2px solid currentColor;
}

.btn-secondary {
  background-color: hsl(var(--b2));
  color: hsl(var(--sc));
}

.btn-secondary:hover,
.btn-secondary.btn-active {
  border-color: hsl(var(--sf, var(--s)));
  background-color: hsl(var(--sf, var(--s)));
}

.btn-secondary:focus-visible {
  outline: 2px solid hsl(var(--s));
}

.input {
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border-width: 1px;
  border-color: hsl(var(--b3));
  background-color: hsl(var(--b1));
  border-radius: var(--rounded-btn, 0.5rem);
}

.input-sm {
  height: 2rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-size: 0.875rem;
  line-height: 2rem;
}

.input:focus {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
}

.label {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: hsl(var(--p));
}

input:checked+.slider:before {
  transform: translateX(16px);
}

.custom-select {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 2;
  border-width: 1px;
  border-color: hsl(var(--bc) / 0.2);
  background-color: hsl(var(--b1));
  font-weight: 600;
  border-radius: var(--rounded-btn, 0.5rem);
  background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1px + 50%), calc(100% - 16px) calc(1px + 50%);
  background-size: 4px 4px, 4px 4px;
  background-repeat: no-repeat;
  align-items: center;
}

.custom-select:focus {
  outline: 2px solid hsla(var(--bc) / 0.2);
  outline-offset: 2px;
}

.custom-select-options {
  display: none !important;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 100%;
  z-index: 20;
  padding-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.custom-select:focus .custom-select-options,
.custom-select:focus+.custom-select-options {
  display: block !important;
}

.custom-select-options .menu-wrap {
  max-height: 280px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: hsl(var(--b2, var(--b1)));
  background-color: hsl(var(--b1));
  text-align: left;
}

.custom-select-options ul {
  width: 100%;
}

.custom-select-options ul li {
  width: 100%;
  border-bottom: 1px solid hsl(var(--b3));
  font-weight: 400;
  padding: 2px 4px;
}

.custom-select-options .checked::after {
  content: '\2713';
  position: absolute;
  right: 4px;
}

.custom-select-options ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* Sidebar */

#sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 5px gray;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
}

#sidebar-title {
  font-weight: bold;
  color: gray;
  text-transform: uppercase;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

#sidebar .caret {
  cursor: pointer;
  user-select: none;
}

#sidebar .caret::before {
  content: '\25BE';
  color: black;
  display: inline-block;
  margin-right: 5px;
}

#sidebar .collapsed.caret::before {
  content: '\25B8';
}

#sidebar .nested {
  display: block;
  margin-left: 15px
}

#sidebar .collapsed .nested {
  display: none;
}

#sidebar-resize {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: -5px;
  cursor: ew-resize;
  user-select: none;
}

#sidebar-search {
  margin-bottom: 5px;
}

.sidebar-list {
  min-height: 0;
  max-height: 100%;
  overflow-y: auto;
}

.sidebar-item {
  color: hsl(var(--p));
  padding-left: 4px;
}

.sidebar-item:hover {
  background-color: hsl(var(--b2));
}

.sidebar-item.active {
  background-color: hsl(var(--s) / 0.7);
}

.sidebar-item:active {
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
}

/* Badges */

#badge-filters {
  flex: 1;
  min-width: 100px;
  max-width: 100%;
}

#badge-filters .searchable-badge {
  padding: 12px 28px 4px 8px;
  margin: 2px 4px;
}

#badge-options-list .searchable-badge {
  padding: 12px 8px 4px 8px;
  margin: 2px 4px;
  justify-content: left;
}

#badge-filters .searchable-badge .remove-icon {
  position: absolute;
  right: 8px;
  top: 8px;
}

.searchable-badge {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: none;
  transition-property: color, background-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: var(--rounded-btn, 0.5rem);
  min-width: 70px;
  max-width: calc(100% - 8px);
  padding: 5px 10px;
  margin: 2px;
  font-size: 0.875rem;
  line-height: 1.1em;
  font-weight: 600;
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  background-color: hsl(var(--s));
  color: hsl(var(--sc));
  text-transform: none;
  text-wrap: nowrap;
  white-space: nowrap;
}

.searchable-badge:hover {
  background-color: hsl(var(--sf)) !important;
  color: hsl(var(--sc)) !important;
}

.searchable-badge:active:hover,
.searchable-badge:active:focus {
  transform: scale(var(--btn-focus-scale, 0.95));
}

.searchable-badge label {
  min-width: 0;
  width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.searchable-badge label.floating {
  position: absolute;
  text-align: left;
  left: 8px;
  top: 2px;
  height: 12px;
  padding: 0px;
  background-color: transparent;
  z-index: 3;
}

label.floating::-webkit-scrollbar {
    display: none;
}

/* Tables */
.table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
  display: table;
  width: 100% !important;
}

.table :where(tbody th, tbody td) {
  background-color: hsl(var(--b1));
}

.table :where(thead, tfoot) :where(th, td) {
  background-color: hsl(var(--b2, var(--b1)));
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.table:where(:not(.table-zebra)) :where(thead, tbody, tfoot) :where(tr:not(:last-child) :where(th, td)) {
  border-bottom-width: 1px;
  border-color: hsl(var(--b2, var(--b1)));
}

.table.dataTable td {
  vertical-align: text-top;
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
  column-gap: 10px;
  padding-top: 10px;
  margin: 10px 0px;
  width: 100%;
}

.dt-layout-table {
  margin: 0px !important;
}

.dt-paging .dt-paging-button {
  border: none !important;
}

.dt-paging .dt-paging-button:hover {
  background: hsl(var(--p)) !important;
}

.dt-paging .dt-paging-button.disabled:hover {
  background: none !important;
}

.dt-paging .dt-paging-button.current {
  background: hsl(var(--s)) !important;
}

.table-responsive-column-label {
  min-width: 120px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1rem;
  color: hsla(var(--bc));
  background-color: hsl(var(--b2, var(--b1)));
  padding: 8px;
  margin-right: 8px;
}

/* Tooltips */

.tooltip {
  position: relative;
}

.tooltip:before,
.tooltip:after,
.tooltip:hover:before,
.tooltip:hover:after {
  visibility: hidden;
  opacity: 0;
}

.tooltip .tooltip-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 5;
  padding: 2px 4px;
  border-radius: 4px;
  background-color: hsl(var(--b3));
  color: black;
}

.tooltip:hover .tooltip-text {
  display: block;
}