<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Spack Build Cache</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body class="bg-gray-100">

    <div class="container mx-auto py-8">
      {% include "header.html" %}
      <div class="py-8 pb-24">
        {% block content %}
        {% endblock %}
      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>

<script>
  function applyQuery() {
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    if (urlParams.get('stack')) {
      setText('stack-name', urlParams.get('stack'))
    }
  }
  applyQuery()

  function toggleMenu(menuId) {
    const menu = document.getElementById(menuId);
    if (menu.style.display === "block") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }

  function setText(className, text) {
    Array.from(document.getElementsByClassName(className)).forEach(
      (elem) => elem.innerHTML = text
    )
  }

  function selectTag(tag) {
    setText('tag-name', tag)
    window.location.assign('/tag/' + tag);
  }

  function selectStack(stack) {
    setText('stack-name', stack)
    window.location.assign(window.location.pathname + '?stack=' + stack);
  }
</script>
