<!doctype html>
<html lang="en-us">

<head>
  <meta charset="UTF-8" />
  <title>Spack Build Cache</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <script src="//unpkg.com/alpinejs" defer></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600" />

  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ base_path }}/static/style.css" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ base_path }}/favicon.ico" />

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
  <script src='https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js'></script>
  <script
    src='https://cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.js'></script>
  <script src='https://cdn.datatables.net/responsive/1.0.4/js/dataTables.responsive.js'></script>
</head>

<body class="bg-gray-100">
  <div class="container mx-auto py-8">
    {% include "header.html" %}
    <div class="py-8 pb-24">{% block content %} {% endblock %}</div>
    {% include "footer.html" %}
  </div>
</body>

</html>

<script>
  let tagName = undefined;
  let stackName = undefined;

  function applyRoute() {
    const path = window.location.pathname.slice(1).split('/')
    if (path.length == 2 && path[0] == 'tag') {
      tagName = path[1]
    }

    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get("stack")) {
      stackName = urlParams.get("stack");
      setText("stack-name", stackName);
    }

    if (tagName) {
      setText(
        'mirror-code',
        `spack mirror add ${tagName}${stackName ? '-' + stackName : ''} https://binaries.spack.io/${tagName}${stackName ? '/' + stackName : ''}`,
      )
    }
  }
  applyRoute();

  function toggleMenu(menuId) {
    const menu = document.getElementById(menuId);
    if (menu.style.display === "block") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }

  function setText(className, text) {
    Array.from(document.getElementsByClassName(className)).forEach(
      (elem) => (elem.innerHTML = text),
    );
  }

  function selectTag(tag) {
    setText("tag-name", tag);
    window.location.assign("{{ base_path }}/tag/" + tag);
  }

  function selectStack(s) {
    stackName = s
    setText("stack-name", stackName);
    window.location.assign(window.location.pathname + "?stack=" + stackName);
  }
</script>
