<header class="drop-shadow-xl relative z-[100]">
    <div class="navbar bg-base-100 rounded">
        <div class="flex-1">
            <a href="{{ base_path }}/" class="btn btn-ghost !px-2 !py-1 !flex gap-2">
                <img src="{{ base_path }}/static/spack-logo.svg" class="max-h-full w-auto">
                Spack Build Cache
                <small class="tag-name text-gray-600">{{ tag.title if tag else '' }}</small>
            </a>
        </div>

        <div class="flex justify-end flex-1 px-2">
            <div id="header-selections" class="flex gap-4 pr-5 border-r border-base-200">
                <div class="form-control py-2" onclick="toggleMenu('tag-options-menu')">
                    <label class="label floating">
                        <span class="label-text-alt text-gray-400 text-[10px]">Build Cache Version</span>
                    </label>
                    <button class="custom-select !select-sm w-48">
                        <span class="tag-name">{{ tag.title if tag else '' }}</span>
                    </button>

                    <div class="custom-select-options" id="tag-options-menu" style="display: none;">
                        <div class="menu-wrap">
                            <ul>
                                {% for tag_item in tags %}
                                <li onclick="selectTag('{{ tag_item.title }}')">
                                    <a>{{ tag_item['title'] }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="form-control py-2" onclick="toggleMenu('package-options-menu')">
                    <label class="label floating">
                        <span class="label-text-alt text-gray-400 text-[10px]">Stack</span>
                    </label>
                    <button class="custom-select !select-sm w-48">
                        <span class="selected stack-name"></span>
                    </button>

                    <div class="custom-select-options" id="package-options-menu" style="display: none;">
                        <div class="menu-wrap">
                            <ul>
                                {% for package_title in package_titles %}
                                <li onclick="selectStack('{{ package_title }}')">
                                    <a>{{ package_title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-stretch pl-3">
                <div class="tooltip tooltip-bottom" data-tip="Spack Packages">
                    <a href="https://packages.spack.io/" class="btn btn-ghost btn-square rounded-btn" target="_blank" alt="Spack Packages">
                        <i class="ri-box-3-line text-xl"></i>
                    </a>
                </div>
                <div class="dropdown dropdown-end">
                    <label tabindex="0" class="btn btn-ghost btn-square rounded-btn">
                        <i class="ri-github-fill text-xl"></i>
                    </label>
                    <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-base-100 rounded-box mt-4">
                        <li>
                            <a href="https://github.com/spack/packages.spack.io" class="nolink" target="_blank">
                                <i class="ri-git-repository-fill text-xl"></i>
                                packages.spack.io
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/spack/cache.spack.io" class="nolink" target="_blank">
                                <i class="ri-git-repository-fill text-xl"></i>
                                cache.spack.io
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
