<!doctype html>
<html lang="en-us">

<head>
    <meta charset="UTF-8" />
    <title>Spack Build Cache</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Third-party styles and fonts -->
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />

    <!-- https://datatables.net/download/ -->
    <!-- Includes DataTables default styling, jQuery, and the FixedHeader extension-->
    <link href="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.3.8/fh-4.0.6/r-3.0.8/datatables.min.css" rel="stylesheet"
        integrity="sha384-8CPcDC0elDrzZ0r2yfkImYxl2I/12sUZre7nq6YKbA+67a7aeXFsoXp+4edxEULD" crossorigin="anonymous">
    <script src="https://cdn.datatables.net/v/dt/jq-3.7.0/dt-2.3.8/fh-4.0.6/r-3.0.8/datatables.min.js"
        integrity="sha384-hqNfa58rJlItf0QAmO0uLTtMTbyEM5GBMVkTzwTLU1fMpBNXWJXuwVlwQE4bg5fO"
        crossorigin="anonymous"></script>

    <!-- Favicon and static content -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ base_path }}/favicon.ico" />
    <link rel="stylesheet" href="{{ base_path }}/static/style.css" />
    <script src="{{ base_path }}/static/script.js"></script>
</head>

<body class="bg-gray-100">
    {% include "sidebar.html" %}

    <!-- Main content -->
    <div class="container shifted" id="content-container">
        <div id="loading-content" class="py-8 pb-24">
            <h1 style="width: 100%; text-align: center;">Loading...</h1>
        </div>

        <div id="home-content" class="py-8 pb-24" style="display: none">
            {% include "home.html" %}
        </div>

        <div id="package-content" class="py-8 pb-24" style="display: none">
            {% include "package.html" %}
        </div>

        <div id="package-not-found-content" class="py-8 pb-24" style="display: none">
            <h1>Package not found.</h1>
        </div>

        <!-- Site footer -->
        <footer class="border-t border-base-300 footer footer-center p-4 text-base-content">
            <p>
                <span class="site-footer-credits">Contribute to the Spack Build Cache on
                    <a target="_blank" href="https://github.com/spack/cache.spack.io">GitHub</a>.
                </span>
            </p>
        </footer>
    </div>

    <!-- Inject context data into hidden elements -->
    <a id="base-path" style="display: none">{{base_path}}</a>
    <div id="package-data" style="display: none">{{ packages | tojson }}</div>
    <div id="spec-data" style="display: none">{{ specs | tojson }}</div>
    <div id="tree-data" style="display: none">{{ tree | tojson }}</div>
</body>

</html>
