<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Spack Build Cache</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,600">

    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
  </head>

  <body class="bg-gray-100">

    <div class="container mx-auto py-8">
      {% include "header.html" %}
      <div class="py-8 pb-24">

        <div id="home-content" style="display: none">
          {% include "home.html" %}
        </div>
        <div id="tag-content" style="display: none">
          Tag <span class="tag-name"></span>
        </div>
        <div id="not-found-content" style="display: none">
          <h2>Page not found.</h2>
        </div>

      </div>
      {% include "footer.html" %}
    </div>
  </body>
</html>

<script>
  function route() {
    var redirect = sessionStorage.redirect;
    delete sessionStorage.redirect;
    if (redirect && redirect != location.href) {
      history.replaceState(null, null, redirect);
    }
    if (redirect === undefined) {
      // Base URL; show home content
      document.getElementById('home-content').style.display = 'block'
      document.getElementById('header-selections').style.display = 'none'
    } else if (redirect.includes('/tag/')) {
        const [path, query] = redirect.split('?')
        console.log('query', query)
        const tag = path.split('/tag/')[1];
        document.getElementById('tag-content').style.display = 'block'
        Array.from(document.getElementsByClassName('tag-name')).forEach(element => {
          element.innerHTML = tag
        });
    } else {
      // Unknown URL; show not found content
      document.getElementById('not-found-content').style.display = 'block'
    }
  }
  route();

  function toggleMenu(menuId) {
    const menu = document.getElementById(menuId);
    if (menu.style.display === "block") {
      menu.style.display = "none";
    } else {
      menu.style.display = "block";
    }
  }

  function selectTag(tag) {
    window.location.assign('/tag/' + tag);
  }

  function selectStack(stack) {
    window.location.assign(window.location.pathname + '?stack=' + stack);
  }
</script>
