{% extends 'base.html' %} {% block content %}

<div class="alert bg-primary text-white">
    <h1 id="package-name">{{ package.uid }}</h1>
    <div class="flex-none pr-5">
        <div class="tooltip tooltip-bottom" data-tip="View on Spack Packages">
            <a href="https://packages.spack.io/package.html?name={{ package.uid }}"
                class="btn btn-ghost btn-square rounded-btn" target="_blank" alt="Spack Packages">
                <i class="ri-box-3-line text-xl"></i>
            </a>
        </div>
    </div>
</div>

<div style="display: block;">
    This package has
    <strong class="px-1">{{ package.num_specs }}</strong>
    spec(s) in the build cache.
    <span id="stack-filter-banner" style="display:none">
        <strong class="stack-num-specs px-1"></strong>
        spec(s) exist for stack
        <strong class="stack-name pl-1"></strong>.
    </span>
</div>

<div class="container">
    <div class="table-controls">
        <div class="form-control">
            <input id="table-filter" type="search" class="form-control input-sm input border-base-300"
                oninput="filterTable(event)">
            <label class="label floating">
                <span class="label-text-alt text-gray-400 text-[10px]">Filter</span>
            </label>
        </div>
    </div>

    <table id="cache" class="table w-full">
        <thead>
            <tr>
                <th>Hash</th>
                <th>Version</th>
                <th>Variants</th>
                <th>Dependencies</th>
                <th>Platform</th>
                <th>OS</th>
                <th>Target</th>
            </tr>
        </thead>
    </table>
</div>

<div id="specs-data" style="display: none">{{ specs | tojson }}</div>

<script>
    function setupDataTable(data) {
        $('#cache').DataTable({
            data,
            ordering: false,
            layout: {
                topStart: null,
                topEnd: null,
                bottom: 'paging',
                bottomStart: null,
                bottomEnd: null
            },
            language: {
                search: "Filter: ",
            },
            columns: [
                {
                    data: 'hash',
                    render: function (data, type, row) {
                        return '<span class="font-mono">' + data + '</span>';
                    },
                    className: 'hash',
                },
                {
                    data: 'versions',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    }
                },
                {
                    data: 'variants',
                    render: function (data, type, row) {
                        const content = data.map(function (variant, i) {
                            hidden = i > 3 ? 'variant hidden' : '';
                            return '<button class="tag searchable-badge ' + hidden + '">' + variant + '</button>';
                        }).join('');

                        // if there are more than 4 variants, display a button to toggle show more or less
                        if (data.length > 4) {
                            return content + '<span class="pl-2">...</span><button data-count="' + data.length + '" class="show-variants btn btn-xs btn-ghost normal-case">show ' + (data.length - 4) + ' more</button>';
                        } else {
                            return content;
                        }
                    },
                    className: 'variants',
                },
                {
                    data: 'dependencies',
                    render: function (data, type, row) {
                        let content = data.map(function (dependency, i) {
                            hidden = i > 3 ? 'dependency hidden' : '';
                            if (dependency.link) {
                                return '<a class="link ' + hidden + '" href="' + dependency.link + '">' + dependency.label + '</a>';
                            }
                            return '<a class="link ' + hidden + '">' + dependency.label + '</a>';
                        }).join('');

                        // if there are more than 4 dependencies, display a button to toggle show more or less
                        if (data.length > 4) {
                            content += '<span class="pl-2">...</span><button data-count="' + data.length + '" class="show-dependencies btn btn-xs btn-ghost normal-case">show ' + (data.length - 4) + ' more</button>';
                        }

                        return `<div class="dependency-group">${content}</div>`
                    },
                    className: 'dependencies',
                },
                {
                    data: 'platform',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'platforms',
                },
                {
                    data: 'os',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'oss',
                },
                {
                    data: 'target',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'targets',
                },
            ],
            pageLength: 25,
        });

        $('#cache button.tag').click(function () {
            var filter = $(this).text();
            $('#cache').DataTable().search(filter).draw();
        });

        //show more variants
        $('.show-variants').click(function (el) {
            $(el.target).parent('td').find('.variant.hidden').toggle();
            $(this).text(function (i, text) {
                const countDisplayed = $(this).data('count') - 4;
                return text === "show " + countDisplayed + " more" ? "show less" : "show " + countDisplayed + " more";
            })
        });

        //show more dependencies
        $('.show-dependencies').click(function (el) {
            $(el.target).parent('div').parent('td').find('.dependency.hidden').toggle();
            $(this).text(function (i, text) {
                const countDisplayed = $(this).data('count') - 4;
                return text === "show " + countDisplayed + " more" ? "show less" : "show " + countDisplayed + " more";
            })
        });
    }

    function filterTable(e) {
        const filter = document.getElementById('table-filter')
        $('#cache').DataTable().search(filter.value).draw()
    }

    $(document).ready(function () {
        applyRoute();
        let data = JSON.parse(document.getElementById('specs-data').innerHTML)

        if (stackName) {
            // filter by stack
            data = data.filter((value) => value['stack'] === stackName)
            setText('stack-num-specs', data.length)
            document.getElementById('stack-filter-banner').style.display = 'inline'
        }

        setupDataTable(data)
    });
</script>

{% endblock %}
