{% block content %}
<div class="alert bg-primary text-white">
    <h1 id="package-name"></h1>
    <div class="flex-none pr-5">
        <div class="tooltip tooltip-bottom" data-tip="View on Spack Packages">
            <a id="package-link" class="btn btn-ghost btn-square rounded-btn" target="_blank" alt="Spack Packages">
                <i class="ri-box-3-line text-xl"></i>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="table-controls">
        <div class="form-control">
            <label class="label floating">
                <span class="label-text-alt text-gray-400 text-[10px]">Filter</span>
            </label>
            <input id="badge-options-filter" type="search" class="form-control input-sm input border-base-300"
                oninput="filterBadgeOptions()">
            <div class="custom-select-options" id="badge-options-menu">
                <div class="menu-wrap">
                    <ul id="badge-options-list"></ul>
                </div>
            </div>
        </div>

        <div id="badge-filters"></div>

        <div style="display: flex; flex-direction: column;">
            <span class="label-text-alt text-gray-400 text-[10px]">Diffs Only</span>
            <label class="switch">
                <input type="checkbox" id="diff-mode-toggle" onchange="toggleDiffMode()">
                <span class="slider"></span>
            </label>
        </div>

        <div id="result-summary"></div>
    </div>

    <table id="cache" class="table w-full">
        <thead>
            <tr>
                <th>Hash</th>
                <th>Version</th>
                <th>Tags</th>
                <th>Stacks</th>
                <th>Variants</th>
                <th>Platform</th>
                <th>OS</th>
                <th>Target</th>
                <th>Dependencies</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}
