{% extends 'base.html' %} {% block content %}

<h1 id="package-name" class="pb-2">
    {{ package.uid }}
</h1>

<div class="alert bg-primary text-white">
    <div>
        This package has <strong>{{ package.num_specs }}</strong>spec(s) in the build cache.
    </div>
    <div class="flex-none">
        <a href="https://packages.spack.io/package.html?name={{ package.uid }}" class="btn btn-secondary btn-sm gap-1">
            {{ package.uid }}
            <small class="font-normal">on packages.spack.io</small>
        </a>
    </div>
</div>

<div class="container py-8">
    <a class="button reset filter-reset btn btn-secondary btn-sm mt-2 float-right"
        onclick="$('#cache').DataTable().search('').draw()" href="#">
        reset
    </a>
    <table id="cache" class="table w-full">
        <thead>
            <tr>
                <th>Hash</th>
                <th>Version</th>
                <th>Variants</th>
                <th>Platform</th>
                <th>OS</th>
                <th>Target</th>
                <th>Compiler</th>
            </tr>
        </thead>
    </table>
</div>

<div id="specs-data" style="display: none">{{ specs | tojson }}</div>

<script>
    function setupDataTable(data) {
        $('#cache').DataTable({
            data,
            columns: [
                {
                    data: 'hash',
                    render: function (data, type, row) {
                        return '<span class="font-mono">' + data + '</span>';
                    },
                    className: 'hash',
                },
                {
                    data: 'versions',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    }
                },
                {
                    data: 'variants',
                    render: function (data, type, row) {
                        const content = data.map(function (variant, i) {
                            hidden = i > 3 ? 'variant hidden' : '';
                            return '<button class="tag searchable-badge ' + hidden + '">' + variant + '</button>';
                        }).join('');

                        // if there are more than 4 variants, display a button to toggle show more or less
                        if (data.length > 4) {
                            return content + '<span class="pl-2">...</span><button data-count="' + data.length + '" class="show-variants btn btn-xs btn-ghost normal-case">show ' + (data.length - 4) + ' more</button>';
                        } else {
                            return content;
                        }
                    },
                    className: 'variants',
                },
                {
                    data: 'platform',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'platforms',
                },
                {
                    data: 'os',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'oss',
                },
                {
                    data: 'target',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'targets',
                },
                {
                    data: 'compiler',
                    render: function (data, type, row) {
                        return '<button class="tag searchable-badge">' + data + '</button>';
                    },
                    className: 'compilers',
                },
            ],
            pageLength: 50,
            "drawCallback": function () {
                $('.dataTables_filter').addClass('flex md:justify-end');
                $('.dataTables_filter label').addClass('flex items-center gap-2 pr-2');
                $('.dataTables_filter .form-control').addClass('input input-sm');
                $('.dataTables_length label').addClass('flex items-center gap-2');
                $('.dataTables_length select').addClass('select select-sm');
                $('.dataTables_paginate').addClass('flex md:justify-end');
                $('.pagination').addClass('btn-group');
                $('.paginate_button').addClass('btn btn-xs btn-ghost rounded-none');
                $('.paginate_button.previous').addClass('btn btn-xs rounded-r-none rounded-l');
                $('.paginate_button.next').addClass('btn btn-xs rounded-l-none rounded-r');
                $('.paginate_button.disabled').addClass('btn btn-xs btn-disabled');
                $('.paginate_button.active').addClass('btn btn-xs btn-active');
            },
        });

        $('#cache button.tag').click(function () {
            var filter = $(this).text();
            $('#cache').DataTable().search(filter).draw();
        });

        //show more variants
        $('.show-variants').click(function (el) {
            $(el.target).parent('td').find('.variant.hidden').toggle();
            $(this).text(function (i, text) {
                const countDisplayed = $(this).data('count') - 4;
                return text === "show " + countDisplayed + " more" ? "show less" : "show " + countDisplayed + " more";
            })
        });
    }

    $(document).ready(function () {
        applyRoute();
        setupDataTable(JSON.parse(document.getElementById('specs-data').innerHTML))
    });
</script>

{% endblock %}
