{% extends "base.html" %}

{% block content %}
<h1 class="text-3xl font-bold">Test Page</h1>
<p>This is a test page.</p>

<div style="padding-left: 10px">
{% for tag in tags %}
    <div style="padding-left: 10px">
        <p>{{ tag['title'] }}</p>
        {% for package in tag['packages'] %}
            <div style="padding-left: 10px">
                <p>{{ package['title'] }} ({{ package['specs'] | length }} specs)</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}
</div>
{% endblock %}
